* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.container {
  align-items: center;
  background-image: url('./assets/space-bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.arrow {
  cursor: pointer;
  font-size: 40px;
  opacity: 0.3;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.previous-button {
  left: 0;
}

.next-button {
  right: 0;
}

.slider-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.slider {
  display: none;
}

.isActive {
  align-items: center;
  display: flex;
  gap: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
}

.planet-image {
  width: 400px;
}
